@media screen and (min-width:1200px) {

    body {
		background-image:url(/images/nml.jpg);
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-position:50% 50%;
		background-size: 100% 100%;
    }

	code {
		background: #91a6234d;
	}

	blockquote {
		border-left: 4px solid #20c696;
	}

    #footer a {
		color:#eee;
	}
}
