@media screen and (min-width:1200px) {

    body {
    background-image:url(http://wx4.sinaimg.cn/mw2048/0060lm7Tly1fsxy1f13t7j31hc0u0tc2.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
background-position:50% 50%; 
    }

    #footer a {
color:#eee;}}
