@media screen and (min-width:750px) {

    body {
		background-image url(https://cdn.jsdelivr.net/gh/Fatezhang/FigureCloud@master/uPic/4TZSfg.jpg);
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-position:50% 50%;
		background-size: 100% 100%;
		color: #000000;
    }

	code {
		background: $grey-dim;
		color: #000;
		margin: 0 4px;
	}

	blockquote {
		border-left: 5px solid $gold-y-2;
	}

    #footer a {
		color:#eee;
	}
}
+mobile() {
	body {
		background-repeat: no-repeat;
		background-attachment:fixed;
		background-position:50% 50%;
		background-size: 100% 100%;
    }
}
.tag-cloud-title{
  color: $blue-bright;
}

// 粒子时钟样式
.clock-container{
	//background-color: #433a2c;
}
.site-overview {
	text-align: center;
}

canvas#canvas {
	margin-top: 20px;
}
