body {
    background:url(https://cdn.jsdelivr.net/gh/Fatezhang/FigureCloud@master/uPic/4TZSfg.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
}
// 鼠标样式
  * {
      cursor: url("https://dev-zhang.oss-cn-hangzhou.aliyuncs.com/cours.ico?Expires=1562050577&OSSAccessKeyId=TMP.AgGk24jCDc2irP4JDN6DoKbG-04c7RpO9NWZzN9Qi9UsHMhZDOI29YTXMCPmADAtAhRdwBWbxTTFfhbBbfpD9B_I9qnwTwIVAKw-VJq1xU51SVvicaM1jteDM_ng&Signature=4qaAkBIl1Z5w5FdReZxH9%2FCIkYw%3D"),auto!important
  }
  :active {
      cursor: url("https://dev-zhang.oss-cn-hangzhou.aliyuncs.com/cours.ico?Expires=1562050577&OSSAccessKeyId=TMP.AgGk24jCDc2irP4JDN6DoKbG-04c7RpO9NWZzN9Qi9UsHMhZDOI29YTXMCPmADAtAhRdwBWbxTTFfhbBbfpD9B_I9qnwTwIVAKw-VJq1xU51SVvicaM1jteDM_ng&Signature=4qaAkBIl1Z5w5FdReZxH9%2FCIkYw%3D"),auto!important
  }
